/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.search-background{
    background: url('/images/duct_scratches.png');
}

.backgroundWhite{
    background-color:white;
    padding:30px;
    border-radius:10px;
    margin-bottom:30px;
}

.backgroundWhiteBorder {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border:1px solid #ddd;
}

.backgroundWhiteBorder10Padding {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}


menu-filter-list li{
    display: inline-block;
    cursor:pointer;
    padding:10px 20px 10px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-radius:5px;
    font-weight:700;
    font-size:13px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
    font-family:"Poppins", sans-serif;

}

    menu-filter-list li.is-checke, menu-filter-list li:hover{
        background-color:#545b62;
        color:#fff;
    }